@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

#active_section {
	color:gray;
}

#header {

	position:fixed;
	top:0; 
	width:100%;
	transition:font-size .25s, height .25s;
	font-size:1em;
	opacity: .8;
	z-index:9999;
	box-shadow:0px 5px 10px gray;	
	
	
}

#social-holder {
	width: 30%;
	float: right;
}

.social-wrap a {
	padding-right: .5em;
	padding-left: .5em;
	text-decoration: none;
}

.banner {

	margin-right:auto;
	margin-left:auto;

	height: 30em;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 5em;
	top:0px;
	left:0px;
	

}

.banner > p{
	font-family: "freight-display-pro",sans-serif;
	position: relative;
	top:30%;
	font-size: 3em;
	letter-spacing: .03em;
	padding: 0 15%;
	text-shadow: 0px 0px 5px white;

}

#logo {
	
	float:left;
}

.intro > p{
	top:30%;
	font-size: 2.2em;
	letter-spacing: .03em;
	color: black;
	line-height: 1.6em;


}

.intro {

	padding: 0 15% 0 15% ;

}

.Experiences {

	background: none;
	
}

.page {
	height:auto;
	position:relative;
	background:#ffffff;
}

.transparent_page {
	height:auto;
	position:relative;
	background:none;
}

.Experiences {  
	margin-top: 4em;
 	margin-left: auto;
    margin-right: auto;
	position:relative;
    -webkit-column-count:3;  
    -moz-column-count:3;  
    column-count:3; 


    
} 

.Experiences > div{
	width:33.33%;
	margin-left: auto;
    margin-right: auto;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 30%;
	position: relative;
	margin: 10% auto;
	padding: 15px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;

}

.modalDialog li {
	text-align: left;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.carousel {
	height:40em;
	width:60em;
	overflow:hidden;
	border:1px solid black;
	position:relative;
	top:50%;
	
	margin-top:10em;
	margin-left:auto;
	margin-right:auto;
}

.button {
	position:absolute;
	top:45%;
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
	cursor:pointer;

}

.left {
	left:.5em;
	
}

video {
	
	padding-left: 2em;
	padding-right: 2em; 

}

.right {
	right:.5em;
}

.image {
	width:33.33%;
	height:100%;
	float:left;

}

.container {
	position:relative;
	left:0;
	width:300%;
	height:100%;
}

.container  img{
	margin: 0 ;
	border-radius: 0px;
	max-width:100% ;
	max-height:100%;
}
